<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxin.basemodel">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.CommWebActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.zxin.basemodel.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.nio.nomi.event" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.init_system_time" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="zxin.intent.action.HU_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="zxin.intent.action.CLEAR_SERVER_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.zxin.basemodel.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.NET_STATUS_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
